*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open Sans', 'sans-serif';
}

/**=========Conteudo topBar ===============*/

.topbarcontainer{
    justify-content: flex-end;
    display: flex;
    margin-top: 2rem;
    margin-right: 40px;
}
.texto{
    font-size: 16px;
    font-weight: 500;
}
.topbarcontainer a{

    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.topbarcontainer a:hover{
    color: rgb(7, 250, 47);
    text-decoration: underline;
}

.box1{
    margin-right: 15px;
    transition: 0.5s;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.box2{
    margin-right: 15px;
    transition: 0.5s;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.box3{
    margin-right: 15px;
    transition: 0.5s;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.conteudo-box {
    display: table;
    text-align: center;
    margin: 12px 6px 6px 6px;
    padding: 2px;
}

.imagem {
    display: table-cell;
    float: left;
    margin: -6px 6px -6px 6px;
 }


 .box-chef {
    width: 100px;
    height: 80px;
}

.tituloPrincipal{ 
    display: table-cell;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(88, 129, 87);
    text-shadow: 2px 2px 5px green;
}

/* .tituloPrincipal{
    margin-top: 5%;
    padding-left: 25px;
    color: green;
    text-shadow: 2px 2px 5px green;
} */

.card{
    border-radius: 20px;
}

.card-img-top{
    border-radius: 5px;
}

.card-deck{
    padding: 25px;
    margin-top: 5%;
    color: white;
    border-radius: 20px;
}

.card-body{
    background: rgb(88, 129, 87);
    
}

/*==== FOOTER CONTENT ======*/
.txt{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: white;
}
.txt h3{
    margin-top: 16px;
    color: black;
    opacity: 50%;
}
/*===== FOOTER END CONTENT =======*/

