
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  } 
  /*resetando os padrões do navegador*/

body { 
        display: flex;
         flex-direction: column;
        height: 100vh;
        min-width: 100vw;
        overflow-x: hidden;
    
 } 

.navegação {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#login{
    margin-top: 7px;
}
main {
     margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    box-shadow: 0 10px 10px #198754;
    
    
}
.logo-principal{
    max-width: 80px;
    border-radius: 10px;
    margin: 10px;
}


 h1 {
    color:  green;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.social-media{
    display: flex;
    align-content: center;
}

.social-media a {
    text-decoration: none;
    font-size: 10px;
}

 .social-media img {
    width: 36px;
    margin-left: 3rem;
    transition: 0.5s;
    opacity: 50%;

}
 .social-media img:hover{
    opacity: 100%;
    transform: scale(1.08);
}


.social-media a:first-child img {
    margin-left: 0;
} /* a imagem da primeira tag <a> vai ter o margin left 0*/

.alternative {
    margin-top: 1rem;
    
}
 .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(228, 13, 13, 0.3);
    position: relative;
} /*Estilização do OU*/

.alternative span::before, .alternative span::after{
    position: absolute;
    content: ' ';
    height: 2px;
    width: 150px;
    bottom: 50%;
    right: 50px;
    background: rgba(81, 128, 143, 0.3);
} /*As linhas laterais foram feitas aqui com pseudo elementos. o AFTER e o BEFORE*/

 .alternative span::after {
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    
 }

 main form label {
     display: flex;
     flex-direction: column;
     color: green;
 }

 main form label span {
     font-size: 0.9rem;
     margin-top: 0.2rem;
 }

 main input {
     background: linear-gradient(45deg, #65c368, rgb(194, 241, 194));
     width: 300px;
     height: 25px;
     padding: 0 0.5rem;
     margin-top: 0.3rem;
     outline: none;
     color: green;
     font-size: 0,5rem;
     border-radius: 4px;
     transition: 0.7s;
     cursor: pointer;
 }
 main input:hover{
     color: white;
    background: linear-gradient(45deg, #428545, #798b77);

 }
 main  .input[ type="submit" ] {
     cursor: pointer;
     width: 50%;
     margin-top: 3rem;
     border: none;
     border-radius: 32px;
      background: #198754; 
     color: rgb(255, 255, 255);
     font-size: 1.1rem;
     transition: all .3s ease-in-out;
     padding-top: 3rem;
 }  /* foi utilizado o seletor para estilizar o input do botão*/

 main input[ type="submit" ]:hover {
     background: green;
 }

 .img {
     max-height: 31rem;
     max-width: 25rem;
     padding-left: 1.8rem;
     padding-top: 1.8rem;
     border-radius: 10px;
     border: solid;
     color: #c9facc;
     margin-left: 1rem;
     
 }

 /*==== FOOTER CONTENT ======*/
 .txt{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: white;
}
.txt h3{
    margin-top: 10px;
    color: black;
    opacity: 50%;
}
/*===== FOOTER END CONTENT =======*/


/*-------------AQUI COMEÇA O MEDIA QUERY----------*/
 @media only screen and (max-width: 900px) {
    .logo-principal{
        display: none;
    }

    .img{
         display: none;
         visibility: hidden;
     }
     main  .input[ type="submit" ] {
         display: flex;
         flex-direction: column;
     }
 }
