*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-align: center;
   
}

.form-text{
    font-size: 12px;
    width: 300px;
    text-align: left;
}

.card-img{
    background-image: url(login.png);
    width: 890px;
    background-repeat: no-repeat;
    background-size: cover;
   
  

}

.card-form{
    width: 1440px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autenticacao-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 680px;
    width: 250px;
    margin-top:50px;
    margin-left: 300px;

}

.card-email{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
h1{
    font-size: 22px;
    font-weight: 500;
    color: #3e3e3e;
    margin-top: 80px;
   
}

.h2-form{
    display: flex;
    justify-content: center;
    text-align: center;     
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 78px;
    color:#3e3e3e;
}

label{      
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(62, 62, 62);
    margin-bottom: 4px;
    margin-right: 200px;
    width: 300px;
    text-align: left;
    /* margin:4px 8px; */
}

.label-dois{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: green;
    /* margin: 4px 8px;  */
    font-weight: 400;
}

.text-decoration{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 129, 87);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    margin-top: -50px;
    cursor: pointer;
}

.text-decoration:hover{
    opacity: 0.8;
}

::placeholder{
    color: #bdbdbd;
}

.button{
    all: unset; 
    font-weight: normal;
    border-radius:15px;
    padding: 12px 24px;
    font-size: 18px;
    line-height: 24px;
    background-color:rgb(88, 129, 87);
    font-family: SulSans, sans-serif;
    transition: background-color 250ms ease-in-out 0s, box-shadow 100ms ease-in-out 0s;
    margin-top: 24px;
}
.button:hover{
    opacity: 0.7;
}
a{
    display: flex;
    color:rgb(88, 129, 87);;   
    text-decoration: none;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
}

input{
    border: 1px solid rgb(88, 129, 87);;
    outline-color: rgb(88, 129, 87);;
    border-radius: 15px;
    height: auto;
    font-family: SulSans, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(62, 62, 62);
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    padding: 12px 8px;
}




h3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #3e3e3e;
    margin-top: 20px;
 
    
}

.a_h3{
    font-size: 16px;
    color: rgb(88, 129, 87);;
    text-decoration:underline;
    font-weight: 500;
    margin-right: -20px;
    
    

}

.a_h3:hover{
    opacity: 0.8
}

#logo{
    margin-left: 127px;
}

@media only screen and (max-width: 1000px) {

    .card-img{
        display: none;

    }
    .autenticacao-form{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 680px;
        width: 250px;
        margin-top:50px;
      


    }
    }


